body{
    width: 1200px;
    height: auto;
    position: relative;
    cursor: none;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;

}

.cursor{
    display: flex;
    position: fixed;
    background-color: transparent;
    width: 12%;
    height: 12%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 999;
}

@keyframes transition {
 from {
    transform: scale3d(0.1, 0.1);
    opacity: 0%;
 }
 to {
    transform: scale3d(1, 1);
    opacity: 100%;
 }
}
#all{
    animation:transition 14s;
}



h4{
    position: relative;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 300%;
    color: #ffff;
}
h3{
    position: relative;
    width: 100%;
    font-family: monospace;
    font-size: 200%;
    color: #ffff;
    margin-top: -1%;
    margin-right: 0%;
    text-align: right;
    padding-top: 10%;
    padding-left: 43%;
}
.next{
    position: relative;
    margin-bottom: 0%;
    text-align: right;
}
h3:hover{
    filter: brightness(180%);
    color: #920606;
    transition: 3s;
}
.text1{
    position: relative;
    justify-content: center;
    width: 100%;
    padding: 10%;
}
.text2{
    position: relative;
    justify-content: center;
    width: 100%;
    padding: 10%;
}
.text3{
    position: relative;
    justify-content: center;
    width: 100%;
    padding: 10%;
}
.text4{
    position: relative;
    justify-content: center;
    width: 100%;
    padding: 10%;
}
.text5{
    position: relative;
    justify-content: center;
    width: 100%;
    padding: 10%;
}
.text6{
    position: relative;
    justify-content: center;
    width: 100%;
    padding: 10%;
}
.text7{
    position: relative;
    justify-content: center;
    width: 100%;
    padding: 10%;
}
