body{
    width: 1200px;
    height: auto;
    position: relative;

    background-color: black;
    font-family: 'Courier New', Courier, monospace;

}

.cursor{
    display: flex;
}


@keyframes transition {
 from {
    transform: scale3d(0.1, 0.1);
    opacity: 0%;
 }
 to {
    transform: scale3d(1, 1);
    opacity: 100%;
 }
}
#all{
    animation:transition 14s;
}









h1{
    position: relative;
    font-family:  monospace;
    color: #fff;
    font-size: 1200%;
    width: 100%;
    margin-top: 0%;
    opacity: 80%;
}
.play{
    position: relative;
    top: -100%;
    width: 0;
    opacity: 80%;
}
h3{
    position: absolute;
    font-family: monospace;
    font-size: 304%;
    color: #fff;
    padding: 49%;
    width: 100%;
    top: 30%;
    right: -100%;
}
h3:hover{
    color: #3e0202;
    filter: brightness(142%);
    transform: scale(10, 10);
    transition: 9s;
}
